@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D59B6B;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    flex-direction: column;
    color: #fff;
}
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000;
}
.home-link {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}
.home-link:hover {
    color: #ffcc00;
    text-shadow: 4px 4px 8px #000;
    transform: scale(1.1);
    cursor: pointer;
}
#status {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.setup-box, .container {
    padding: 20px;
    background-color: #6C584C;
    border-radius: 10px;
    display: none;
}
.container {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    padding: 30px;
    background-color: #6C584C;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    width: 80%;
}
.player-box {
    padding: 20px;
    background-color: #8B5E34;
    border-radius: 10px;
    width: 45%;
}
.header, .input-group {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 2fr;
    gap: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
input[type="text"] {
    padding: 8px;
    font-size: 1rem;
    left: auto;
    text-align: center;
    background-color: #D59B6B;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: 80%;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #A3B18A;
    border: none;
    border-radius: 5px;
    color: #fff;
}
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    padding-left: 35px;
    background: #6C584C;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
}
.close-btn {
    position: fixed;
    top: -18px;
    right: -1px;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
#result-btn {
    display: none;
    position: absolute;
    top: 8px;
    right: 28px;
    background: #6C584C;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
}